//- when help button is clicked, this dropdown menu appears
.menu
  a.foldr.item(href="/ev-diy")
    i.icon.exchange
    | 使用說明、問題回報
  a.link.item(href="https://github.com/AutoMaker/hackfoldr-2.0",target="_blank")
    i.icon.github
    i.icon.forward.mail
    | 程式碼
